body {
	background-color: lightgrey;
	color: aliceblue;
	text-align: center;
	font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
  background-color: black;
	border: 5px solid yellow;
	max-width: 70%;
  margin: auto;
  padding: 1em;
}
